.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50px;
    font-family: Helvetica;
}
.offbutton {
    background-color: #D9D9D9;
    /* Orange */
    border: none;
    color: black;
}

.onbutton {
    background-color: #DF7B32;
    /* Orange */
    border: none;
    color: white;
}

.button1 {
    top: 125px;

}

.button2 {
    top: 205px;

}

.button3 {
    top: 285px;
}

.button4 {
    top: 365px;
}

.button5 {
    top: 445px;
}

.button6 {
    top: 525px;
}

.header {
    padding: 1px;
    text-align: left;
    background: #DF7B32;
    color: white;
    font-size: 10px;
    font-family: Helvetica;
}

.h1 {
    text-align: left;
    position: absolute;
    font-family: Helvetica;
}

.pagetitle {
    top: 100px;
    left: 350px;
}

.hi-priority {
    top: 200px;
    left: 930px;
}

.grouph1 {
    text-align: left;
    font-family: Helvetica;
    top: 300px;
    left: 500px;
}

.rectangle {
    height: 200px;
    width: 1000px;
    position: absolute;
    left: 350px;
    top: 200px;
    border-color: black;
    border-style: solid;
    background-color: #FFFFFF;
}

.task {
    height: 50px;
    width: 450px;
    position: absolute;
    background-color: #555;
}

.t1 {
    left: 930px;
    top: 250px;
}

.t2 {
    left: 930px;
    top: 320px;
}

.t3 {
    left: 930px;
    top: 390px;
}

.descrec {
    height: 800px;
    width: 1050px;
    position: absolute;
    border-top: 5px;
    left: 350px;
    top: 200px;
    border-color: #DF7B32;
    border-style: solid;
    background-color: #FFFFFF;
}

.h2 {
    font-family: Helvetica;
    font-size: 12px;
    position: absolute;

}

.h2pos1 {
    left: 0%;
    padding-left: 3%;
    top: 0%;
    padding-top: 1%;
}

.h2pos2 {
    left: 25%;
    padding-left: 10%;
    top: 0%;
    padding-top: 1%;

}

.h2pos3 {
    left: 0%;
    padding-left: 3%;
    top: 35%;
    padding-top: 1%;

}

.progress {
    left: 630px;
    top: 230px;
}

.vl {
    border-left: 3px solid black;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 900px;
  }

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    left: 375px;
    top: 225px;

}

.piechart {
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    left: 375px;
    top: 200px;

}

.p1 {
    
}

.p2 {
    
}

.p3 {
    
}

.body {
    position: absolute;
    top: 320px;
    left: 380px;
}

.link {
    font-family: Helvetica;
    position: absolute;
    top: 320px;
    left: 375px
}

.todo_section {
    height: 300px;
    width: 1050px;
    position: absolute;
    border-top: 5px;
    border-color: #DF7B32;
    border-style: solid;
    background-color: #FFFFFF;
}

.section1 {
    left: 350px;
    top: 200px;
}

.section2 {
    left: 350px;
    top: 525px;
}