.button {
    background-color: #D9D9D9;
    /* Orange */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50px;
    font-family: Helvetica;
}

.button1 {
    top: 125px;

}

.button2 {
    top: 205px;

}

.button3 {
    top: 285px;
}

.button4 {
    top: 365px;
}

.button5 {
    top: 445px;
}

.button6 {
    top: 525px;
}

.header {
    padding: 1px;
    text-align: left;
    background: #DF7B32;
    color: white;
    font-size: 10px;
    font-family: Helvetica;
}

.h1 {
    text-align: left;
    position: absolute;
    top: 100px;
    left: 350px;
    font-family: Helvetica;
}

.grouph1 {
    text-align: left;
    font-family: Helvetica;
    top: 300px;
    left: 500px;
}

.rectangle {
    height: 200px;
    width: 1000px;
    position: absolute;
    left: 350px;
    top: 200px;
    border-color: black;
    border-style: solid;
    background-color: #FFFFFF;
}

.descrec {
    height: 800px;
    width: 1050px;
    position: absolute;
    border-top: 5px;
    left: 350px;
    top: 200px;
    border-color: #DF7B32;
    border-style: solid;
    background-color: #FFFFFF;
}

.h2 {
    font-family: Helvetica;
    font-size: 12px;
    position: absolute;

}

.h2pos1 {
    left: 380px;
    top: 215px;
}

.h2pos2 {
    left: 800px;
    top: 215px;
}

.h2pos3 {
    left: 380px;
    top: 260px;
}


.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    left: 375px;
    top: 225px;

}

.p {
    position: absolute;
    top: 215px;
    left: 500px;
}

.p1 {
    position: absolute;
    top: 215px;
    left: 930px; 
}

.p2 {
    position: absolute;
    top: 260px;
    left: 550px;
}

.body {
    position: absolute;
    top: 320px;
    left: 380px;
}

.link {
    font-family: Helvetica;
    position: absolute;
    top: 320px;
    left: 375px
}